/*web site colors*/
$color-primaire : #9356DC;
$color-secondaire : #FF79DA;
$color-tertiaire : #99E2D0;

$color-header : #f6f6f6;
$shadow-color : #cfcfcf;
$locate-color : #eaeaea;
$footer-color : #3d3a3a;

/*dev colors*/
$dev-red : #ff0000;
$dev-blue :#00FFFF; 